.container {
    margin: 10;
    position: relative;
    display :'block';
    width: '300px';
  }
  
.video {
    width: 300;
    height: 300;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container2{
}

.container3{
}

